<h1>Country List</h1>
<table>
  <thead>
    <tr>
      <th>Sl No.</th>
      <th>Name</th>
      <th>Currency</th>
      <th>Capital</th>
    </tr>
  </thead>
  <tbody>
    {{#each @model.countries as |country|}}
      <tr>
        <td>{{country.id}}</td>
        <td><LinkTo @route="country-detail" @model={{country.id}}>{{country.name}}</LinkTo></td>
        <td>{{country.currency}}</td>
        <td>{{country.capital}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<div class="pagination">
  {{#if @model.currentPage}}
    <button type="button" {{action "goToPage" (dec @model.currentPage)}}>Previous</button>
  {{/if}}
  <span>Page {{@model.currentPage}} of {{@model.totalPages}}</span>
  {{#if (if-equals @model.currentPage @model.totalPages)}}
    <button type="button" {{action "goToPage" (inc @model.currentPage)}}>Next</button>
  {{/if}}
</div>
