<h1>{{model.country.name}}</h1>

<h2>Country Information</h2>
<p>Currency: {{model.country.currency}}</p>
<p>Currency Symbol: {{model.country.currencySymbol}}</p>
<p>Phone Code: {{model.country.phoneCode}}</p>

<h2>States</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>State Code</th>
      <th>Latitude</th>
      <th>Longitude</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.states as |state|}}
      <tr>
        <td>{{state.name}}</td>
        <td>{{state.code}}</td>
        <td>{{state.latitude}}</td>
        <td>{{state.longitude}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<div class="pagination">
  {{!-- Implement pagination buttons --}}
</div>
