<h1>{{@model.country.name}}</h1>

<h2>Country Information</h2>
<p>Currency: {{@model.country.currency}}</p>
<p>Currency Symbol: {{@model.country.currency_symbol}}</p>
<p>Phone Code: {{@model.country.phone_code}}</p>

<h2>States</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>State Code</th>
      <th>Latitude</th>
      <th>Longitude</th>
    </tr>
  </thead>
  <tbody>
    {{#each @model.states.edges as |state|}}
      <tr>
        <td>{{state.node.name}}</td>
        <td>{{state.node.state_code}}</td>
        <td>{{state.node.latitude}}</td>
        <td>{{state.node.longitude}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<div class="pagination">
    {{#if @model.currentPage}}
    <button type="button" {{action "goToPage" (dec @model.currentPage)}}>Previous</button>
  {{/if}}
  <span>Page {{@model.currentPage}} of {{@model.totalPages}}</span>
  {{#if (if-equals @model.currentPage @model.totalPages)}}
    <button type="button" {{action "goToPage" (inc @model.currentPage)}}>Next</button>
  {{/if}}
</div>
